@tailwind base;
@tailwind components;
@tailwind utilities;

    /* FONTS SETTINGS */
    @font-face {
        font-family: 'designerRegular';
        src: url('./fonts/designer/designer-webfont.woff2') format('woff2'),
             url('./fonts/designer/designer-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'robotoRegular';
        src: url('./fonts/roboto/robotoRegular/roboto-regular-webfont.woff2') format('woff2'),
             url('./fonts/roboto/robotoRegular/roboto-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'robotoItalic';
        src: url('./fonts/roboto/robotoItalic/roboto-italic-webfont.woff2') format('woff2'),
             url('./fonts/roboto/robotoItalic/roboto-italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'robotoBold';
        src: url('./fonts/roboto/robotoBold/roboto-bold-webfont.woff2') format('woff2'),
             url('./fonts/roboto/robotoBold/roboto-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    /* MEDIA QUERIES */
    @media(min-width: 641px) {

        .customCardsContent{
            width: 400px;
        }
    }

    @media(min-width: 1730px) {
        .customCardsContent{
            width: 500px;
        }
    }

    /* PERSONNAL STYLE */
    *{
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: #1E3A8A #9CA3AF;
        scrollbar-gutter: both-edges;
    }


    .diplomes::before{
        content: url("assets/pictos/mortarboard.svg");
    }

    .customCards{
        border-radius: 1.625rem;
    }


    .validateMark{
        width: 70px;
        rotate: 10deg;
    }

    .reveal-navbar{
        opacity: 0;
        transform: translateY(-30px);
    }

    .reveal{
        opacity: 0;
        transform: translateY(30px);
    }

    .reveal-minus-x{
        opacity: 0;
        transform: translateX(-100px);
    }

    .reveal-x{
        opacity: 0;
        transform: translateX(-100px);
    }

    .reveal-visible{
        opacity: 1;
        transform: translateY(0);
        transition: 1s cubic-bezier(.7,.17,.48,.97);
    }

    .reveal-dropdown{
        visibility: hidden;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 1s cubic-bezier(.7,.17,.48,.97), transform 1s cubic-bezier(.7,.17,.48,.97);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    .reveal-dropdown-open{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 1s cubic-bezier(.7,.17,.48,.97), transform 1s cubic-bezier(.7,.17,.48,.97);
    }

