@tailwind base;
@tailwind components;
@tailwind utilities;

    /* FONTS SETTINGS */
    @font-face {
        font-family: 'designerRegular';
        src: url('./fonts/designer/designer-webfont.woff2') format('woff2'),
             url('./fonts/designer/designer-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'robotoRegular';
        src: url('./fonts/roboto/robotoRegular/roboto-regular-webfont.woff2') format('woff2'),
             url('./fonts/roboto/robotoRegular/roboto-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'robotoItalic';
        src: url('./fonts/roboto/robotoItalic/roboto-italic-webfont.woff2') format('woff2'),
             url('./fonts/roboto/robotoItalic/roboto-italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'robotoBold';
        src: url('./fonts/roboto/robotoBold/roboto-bold-webfont.woff2') format('woff2'),
             url('./fonts/roboto/robotoBold/roboto-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    /* MEDIA QUERIES */
    @media(min-width: 641px) {

        .customCardsContent{
            width: 400px;
        }
    }

    @media(min-width: 1730px) {
        .customCardsContent{
            width: 500px;
        }
    }

    /* PERSONNAL STYLE */
    *{
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: #1E3A8A #9CA3AF;
        scrollbar-gutter: both-edges;
    }

    .diplomes::before{
        content: url("assets/pictos/mortarboard.svg");
    }

    .customCards{
        border-radius: 1.625rem;
    }


    .validateMark{
        width: 70px;
        rotate: 10deg;
    }



    .appearFromRight{
        opacity: 0;
        transform: translate(100px, 0);
    }

    .appearFromLeft{
        opacity: 0;
        transform: translate(-100px, 0);
    }

    .appearFromTop{
        opacity: 0;
        transform: translate(0px, -100px);
    }

    .appearFromBottom {
        opacity: 0;
        transform: translate(0px, 100px);
    }


    .appear{
        opacity: 1;
        transform: translate(0, 0);
        transition: 1.2s cubic-bezier(.7,.17,.48,.97);
    }
